.marLg {
    height: 180px;
}

.body {
    text-align: center;
    background-image: url('./img/background.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    color: rgb(0, 0, 0); 
}

.bodyIntro {

    text-align: center;
    background-image: url('./img/background-intro2.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    color: rgb(0, 0, 0); 
}

.form-check-label h3 {
    margin: 0; 
}

.character-btn {
    border: none;
    background: none;
    padding: 0;
}

.character{
    margin-top: 200px;
    position: fixed;
    margin-left: -720px;
}

.heightLg{
    height: 800px;
}

#pokemon-container {
    height: 600px;
}

.pokeball{
    height: 45px;
    width: 45px;
    margin: 20px;
}

#logo{
    height: 120px;
    width: 120px;
    margin-top: 10px;
}