.marLg {
    height: 180px;
}

body {
    text-align: center;
    background-image: url('./img/background.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    color: rgb(0, 0, 0); 
}

#pokemon-container {
    height: 600px;
}

.pokeball{
    height: 45px;
    width: 45px;
    margin: 20px;
}

#logo{
    height: 120px;
    width: 120px;
    margin-top: 10px;
}